<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>QuoteWiz</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
  <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">QuoteWiz<text id="v-flag">pre-alpha</text></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/features">Features</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="https://www.linkedin.com/in/heymikemarshall/">@heyMikeMarshall</a>
                <a class="dropdown-item" href="https://kmbs.konicaminolta.us/">About Konica Minolta</a>
                <a class="dropdown-item" href="https://sec.kmbs.us/version2/catalog.html">About Dispatcher Phoenix</a>
              </div>
            </li>
          </ul>
        </div>
        </nav>

        <div class="row">
                <div class="col-md-10">
                  <div class="well">
                    <h4>Scope creep is real.</h4>
                    <p>I found that the deeper I got into mapping out and automating the certain license relationships the more effort it took
                        just to make the application function. Unfortuantely, the Machine Learning portion, while still being developed, is not quite "ready for primetime"
                        so-to-speak, and so the release date is being pushed back a bit. These license relationships didn't seem to exist anywhere besides in some seemingly well hidden
                         written documentation and some people's heads. The screen shot of that table below is multiple days worth of research and confirmation, and
                        is the beginnings of a usable pre/co-requirements framework that will enable much more intelligent quoting services,
                        that may be able to even make particular reccommendations based on user input. Or begin constructing a pre-filled Statement of Work for client
                        approval.
                    </p>
                    <img src="/static/img/nodepackagerelationship.png" alt="Nothing quite like those old-timey hand-made relationship tables" style="width:560px;" >
                    <p>
                       This tool will save time, significantly reduce the occurance of errors and omissions on sales orders,
                       highlight areas where software pricing models could stand to be improved, and provide solid analyitics
                       and deeper sales pipeline tracking through potential integrations with KMBS's implementation of SAP CRM360.
                    </p>








        </body>
        </html>