body {
    margin: 10px;
}

table{
    padding: 10px;
}

td {
    vertical-align: top;
    padding: 10px;
}

input[type=checkbox][disabled]{
    outline:1px solid mediumblue;
  }

#v-flag {
    font-size: 10px;
    color: #8f0401;
  }

#demolink {
    font-size:10px;
}


label {
    font-weight: normal;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  